@import '~app/smacss/base/mixins';
@import '~app/smacss/base/generics';

.icon--star {
  svg {
    height: 12px;
    width: 12px;
  }
}

%justifyEvenly {
  display: flex;
  justify-content: space-evenly;
}


.img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #b5b2b2;
}

.rate {
  margin: 15px 0;
}
.name {
  margin-bottom: 15px;
  
  color: #F98100;
  text-transform: uppercase;
  letter-spacing: 1.82px;
  font-size: 20px;
  font-weight: bold;
}

.description {
  margin-bottom: 15px;
  
  font-size: 17px;
  line-height: 1.2;
  color: #B5B5B5;
}

.action-btns {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  width: 45%;
  max-width: 180px;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 30px;

  font-weight: bold;
  
  cursor: pointer;
  will-change: color,background-color;
  -webkit-transition: color 0.3s, background-color 0.5s;
  transition: color 0.3s, background-color 0.5s;
  
  &--book-me {
    border: 1px solid #F98100;
    color: #F98100;
  }
  
  &--go-price-history {
    color: #FFF;
    background-color: #79BD1A;
  }

  &--go-description-mode {
    width: auto;
    margin: 0;
    max-width: none;
    display: flex;
    justify-content: center;

    span {
      font-size: 12px;
      text-align: right;
      letter-spacing: 1.36364px;
      color: #555555;
    }
  }
}

/** THIS IS AN EXCEPTION...NORMALLY I'D USER A 'BEM' MODIFIER FOR THIS BUTTON*/
.btn-go-description-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  span {
    margin-right: 10px;

    color: #555555;
    font-size: 12px;
    letter-spacing: 1.36px;
  }
}

.title {
  &--price-history {
    margin: 15px 0;

    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1.82px;
    color: #F98100;
    text-transform: uppercase;
  }
}

.icon {
  &--go-description-mode {
    display: inline-block;
    width: 35px;
    height: 21px;
    margin-right: 10px;
  }
}

.card {
  padding: 30px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3686274509803922);
  
  @include heeboFont();

  @include breakpoint(min,1024px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.total-period,
.price,
.price-period {
  padding: 15px 0;
}

.price {

}

.price-period {
  @include montSerratFont();
  color: #79BD1A;
}

.total-period {
  color: #B2B0C0;
  font-size: 16px;
  letter-spacing: 1.82px;
}


.card-container {
  max-width: 400px;
  margin: 0 auto;
}

.price-history {

}

.chart {
  $this: &;

  margin-bottom: 30px;
  
  &__body {
    @extend %justifyEvenly;
    height: 200px;
    border-bottom: 2px solid #D9D9D9;
  }

  &__labels {
    @extend %justifyEvenly;
    display: flex;
    align-items: center;
    height: 40px;
    
    font-size: 12.8px;
    text-align: center;
    letter-spacing: 1.45455px;
    color: #B5B5B5;
  }

  &__month {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 200px;

    &:hover  #{$this}__tooltip {
      opacity: 1;
      visibility: visible;
      transition: opacity .5s ease-in-out,
        visibility .5s ease-in-out;
      will-change: visibility,opacity;
    }
  }

  &__tooltip {
    height: 20px;
    background: #484848;
    border-radius: 3px;

    color: #FFF;

    opacity: 0;
    visibility: hidden;
  }

  &__bar {
    background: linear-gradient(0deg, rgba(238, 111, 72, 0.7) 0%, 
      rgba(249, 129, 0, 0.7) 100%);
  }  
}

