@import '~app/smacss/base/mixins';
@import '~app/smacss/base/generics';

.icon--star {
  svg {
    height: 12px;
    width: 12px;
  }
}

%justifyEvenly {
  display: flex;
  justify-content: space-evenly;
}


.img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #b5b2b2;
}

.rate {
  margin: 15px 0;
  
  @include breakpoint(min,1440px) {
    margin: 20px 0;
  }
}

.name {
  margin-bottom: 15px;
  
  color: #F98100;
  text-transform: uppercase;
  letter-spacing: 1.82px;
  font-size: 20px;
  font-weight: bold;
  
  @include breakpoint(min,1440px) {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

.description {
  margin-bottom: 15px;
  
  font-size: 17px;
  line-height: 1.2;
  color: #B5B5B5;
  
  @include breakpoint(min,1440px) {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 25px;
  }
}

.action-btns {
  display: flex;
  justify-content: space-evenly;

  @include breakpoint(min,1440px) {
    display: block;
  }
}

.btn {
  width: 45%;
  max-width: 180px;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 30px;

  font-weight: bold;
  
  cursor: pointer;
  will-change: color,background-color;
  -webkit-transition: color 0.3s, background-color 0.5s;
  transition: color 0.3s, background-color 0.5s;

  @include breakpoint(min,1440px) {
    height: 37px;

    line-height: 8px;
  }
  
  &--book-me {
    border: 1px solid #F98100;
    color: #F98100;

    @include breakpoint(min,1440px) {
      width: 115px;
      margin-right: 15px;

      font-size: 13px;
    }
  }
  
  &--go-price-history {
    color: #FFF;
    background-color: #79BD1A;
    
    @include breakpoint(min,1440px) {
      font-size: 14px;
      width: 145px;
    }
  }

  &--go-description-mode {
    width: auto;
    margin: 0;
    max-width: none;
    display: flex;
    justify-content: center;
    span {
      font-size: 12px;
      text-align: right;
      letter-spacing: 1.36364px;
      color: #555555;
    }
  }
}

/** THIS IS AN EXCEPTION...NORMALLY I'D USER A 'BEM' MODIFIER FOR THIS BUTTON*/
.btn-go-description-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  cursor: pointer;

  @include breakpoint(min,1024px) {
    width: 50%;
    margin: 0;
    align-self: end;
  }

  span {
    margin-right: 10px;

    color: #555555;
    font-size: 12px;
    letter-spacing: 1.36px;
  }
}

.title {
  &--price-history {
    margin: 15px 0;

    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1.82px;
    color: #F98100;
    text-transform: uppercase;

    @include breakpoint(min,1024px) {
      width: 50%;
      margin: 0;
      align-self: end;
    }
  }
}

.icon {
  &--go-description-mode {
    display: inline-block;
    width: 35px;
    height: 21px;
    margin-right: 10px;
  }
}

.card {
  max-width: 380px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3686274509803922);
  margin-bottom: 30px;
  
  @include heeboFont();

  @include breakpoint(min,1024px) {
    display: flex;
    max-width: 870px;
    height: 310px;
  }


  @include breakpoint(min,1440px) {
    height: 315px;
    margin-bottom: 70px;
    padding: 35px 0;
  }
}

.total-period,
.price,
.price-period {
  padding: 15px 0;
}

.price {
  letter-spacing: 1.59px;
  color: #B2B0C0;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 3.41px;

  @include breakpoint(min,1024px) {
    font-size: 14px;  
    letter-spacing: 1.59px;
  }
  
  strong {
    font-size: 20px;
    color: #F98100;

    @include breakpoint(min,1024px) {
      display: block;
      margin-top: 10px;
    }
  }
}

.price-period {
  @include montSerratFont();
  letter-spacing: 3.41px;
  color: #79BD1A;
  font-weight: bold;
  font-size: 36px;

  @include breakpoint(min,1024px) {
    padding-top: 10px;
    
    font-size: 30px;
  }
}

.total-period {
  color: #B2B0C0;
  font-size: 22px;
  letter-spacing: 1.82px;

  @include breakpoint(min,1024px) {
    font-size: 16px;
    font-weight: 100;
  }
}


.card-container {
  max-width: 400px;
  margin: 0 auto;
  
  &--image {
    @include breakpoint(min,1024px) {
      position: absolute;
      margin-left: -75px;  
    }
    
    img.is-hidden {
      @include breakpoint(min,1024px) {
        opacity: 0;
      }
    }
  }

  &--main-info {
    @include breakpoint(min,1024px) {
      margin-left: 186px;
      text-align: left;
    }
    
    @include breakpoint(min,1440px) { 
      margin: 0 0 0 200px;
    }
  }

  &--dynamic-info {
    @include breakpoint(min,1024px) {
      max-width: 170px;
      padding: 50px 0 0 45px;
      border-left: 1px solid #D8D8D8;
      
      text-align: right;
    }

    @include breakpoint(min,1440px) {
      max-width: none;
      padding: 50px 30px 0;
    }
  }

  &--history {
    @include breakpoint(min,1024px) {
      display: flex;
      flex-wrap: wrap;
      width: 640px;
      max-width: none;;
      height: 240px;
      margin: 0 0 0 190px;
    }
  }
}

.price-history {
  @include breakpoint(min,1024px) {
    width: 100%;
    height: 195px;
  }
}


.chart {
  $this: &;

  margin-bottom: 30px;
  
  @include breakpoint(min,1024px) {
    margin: 0;
  }
  
  &__body {
    @extend %justifyEvenly;
    height: 200px;
    border-bottom: 2px solid #D9D9D9;

    @include breakpoint(min,1024px) {
      padding-top: 20px;
      height: auto;
    }
  }

  &__labels {
    @extend %justifyEvenly;
    display: flex;
    align-items: center;
    height: 40px;
    
    font-size: 12.8px;
    text-align: center;
    letter-spacing: 1.45455px;
    color: #B5B5B5;
  }

  &__month {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 200px;
    width: 30px;
    
    @include breakpoint(min,1024px) {
      height: 150px;
    }

    &:hover  #{$this}__tooltip {
      opacity: 1;
      visibility: visible;
      transition: opacity .5s ease-in-out,
        visibility .5s ease-in-out;
      will-change: visibility,opacity;
    }
  }

  &__tooltip {
    height: 20px;
    background: #484848;
    border-radius: 3px;
    padding-top: 6px;
    margin-bottom: 8px;

    color: #FFF;
    font-size: 11px;

    @include breakpoint(min,1440px) {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__bar {
    background: linear-gradient(0deg, rgba(238, 111, 72, 0.7) 0%, 
      rgba(249, 129, 0, 0.7) 100%);
  }  
}

