@import '~app/smacss/base/mixins';

footer {    
  padding: 15px 10px 0;
  box-shadow: 0px -2px 11px #e6e6e6;

  @include breakpoint(min,1440px) {
    padding-top: 40px;
  }
}

.social-media {
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint(min,1440px) {
    padding-bottom: 35px;
  }
}

.icon {
  width: 34px;
  height: 34px;
  display: inline-block;
  padding: 0 20px;

  svg { .st0{fill:#F98100;} }
}

.copyright {
  padding: 15px;

  text-align: center;
  color: #B5B5B5;
  font-family: 'Heebo';
  font-size: 12px;
}