@import '~app/smacss/base/mixins';

header {
  position: relative;
  display: flex;
  justify-content: center;

  h1 { display: none;}
}

.hero {
  width: 100vw;
  height: 60vw;
  max-height: 620px;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}

/** BLOCK */
.logo {
  position: absolute;
  top: 8vw;

  text-align: center;
  cursor: pointer;

  @include breakpoint(min,1024px) {
    top: 82px;
  }
  @include breakpoint(min,1440px) {
    top: 135px;
  }


  /** ELEMENTS */
   &__crown {
     display: inline-block;
     
    @include breakpoint(min,1440px) {
      margin-bottom: 5px;
    }

    svg {
      width: 10vw;
      height: 10vw;

      @include breakpoint(min,1024px) {
        width: 102px;
        height: 102px;
      }
      @include breakpoint(min,1440px) {
        width: 54.73px;
        height: 43.51px;
      }
    }
  
    .st0 { fill: #fff;}
  }
  &__text {
    display: block;
    padding: 5px 0;

    color: #FFF;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 4vw;
    
    @include breakpoint(min,1024px) {
      font-size: 41.2px;
    }
    @include breakpoint(min,1440px) {
      padding: 10px 0;

      letter-spacing: 2.6px;
      font-size: 22px;
    }
    
    /** MODIFIERS */
    &--main {
      padding: 10px 0;
      border: 0px solid #fff;
      border-width: 1px 0px;
      
      font-size: 6vw;
      font-weight: bold;
      letter-spacing: 10.6px;
      
      @include breakpoint(min,1024px) {
        padding: 25px 15px;
        
        font-size: 61.82px;
      }

      @include breakpoint(min,1440px) {
        font-size: 72px;
      }
    }
  }
}

.calendar-box {
  position: absolute;
  top: 55vw;
  width: 92vw;
  max-width: 460px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 5px 0px 50px -14px #292929, -5px 0px 50px -14px #292929;
  border-radius: 5px;

  background-color: #fff;

  text-align: center;

  @include breakpoint(min,568px) {
    box-shadow: 10px 0px 50px -14px #292929, -10px 0px 50px -14px #292929;
    border-radius: 5px;
  }

  @include breakpoint(min,768px) {
    top: 365px;   
  }

  @include breakpoint(min,1024px) {
    top: 465px;   
  }

  @include breakpoint(min,1440px) {
    top: 484px;
    max-width: 837px;
    height: 548px;
    padding-top: 65px;
  }
}



