@import '~app/smacss/base/mixins';
@import '~app/smacss/base/generics';

.icon {
  &--checkbox-empty {
    .str0 {
      stroke-width: 36.0045;
      fill: none;
      stroke: #F98100;
    }
  }
  &--checkbox-checked {
    .str0 {stroke:#F98100;stroke-width:36.0045}
    .fil0 {fill:none}
    .fil1 {fill:#F98100}
  }
}