<label (click)="toggle()" for="stars_{{ fullStars }}">
    <span [hidden]="isActive" class="icon--checkbox-empty">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="25px" height="25px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 567 567" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Camada_x0020_1"> <metadata id="CorelCorpID_0Corel-Layer"/> <rect class="fil0 str0" x="109" y="75" width="363" height="363" rx="51" ry="51"/> </g> </svg>
    </span>
    <span [hidden]="!isActive" class="icon--checkbox-checked">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="25px" height="25px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 567 567" xmlns:xlink="http://www.w3.org/1999/xlink"> <defs> </defs> <g id="Camada_x0020_1"> <metadata id="CorelCorpID_0Corel-Layer"/> <rect class="fil0 str0" x="109" y="75" width="363" height="363" rx="51" ry="51"/> <g id="_2311691744624"> <g id="Canvas"> <g id="Path-3"> <g> <g> <path class="fil1" d="M216 233c-9,-14 -26,-17 -39,-8 -13,8 -17,26 -8,39l47 -31zm16 126c3,4 6,7 10,9 4,2 8,3 13,4 4,0 8,-1 12,-3 4,-2 8,-4 11,-8l-46 -2zm181 -164c9,-12 8,-30 -5,-40 -12,-10 -30,-8 -39,4l44 36zm-155 101l-42 -63 -47 31 63 95 13 -32 13 -31 -26 63 46 2 135 -166 -45 -36 -52 65 -52 64 -6 8z"/> </g> </g> </g> </g> </g> </g> </svg>
    </span>
    <!-- FULL FILLED STARS -->
    <i class="icon icon--star icon--star-full" *ngFor="let i of fullStars | toArray">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.63 25.33"><defs></defs><title>star-filled</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><polygon class="cls-1" points="13.31 21 5.09 25.33 6.66 16.16 0 9.67 9.2 8.34 13.31 0 17.43 8.34 26.63 9.67 19.97 16.16 21.54 25.33 13.31 21"/></g></g></svg>
    </i>
    <!-- EMPTY STARS -->
    <i class="icon icon--star icon--star-empty" *ngFor="let i of emptyStars | toArray">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.63 25.33"><defs></defs><title>star-filled</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><polygon class="cls-1" points="13.31 21 5.09 25.33 6.66 16.16 0 9.67 9.2 8.34 13.31 0 17.43 8.34 26.63 9.67 19.97 16.16 21.54 25.33 13.31 21"/></g></g></svg>
    </i>
</label>

