<div class="calendar">
  <p class="calendar__title">
    Select the days to stays in Charlotte
  </p>
  <div class="calendar__dates">
    <div class="check-in">
      <div class="calendar__label">
        check in
      </div>
      <div class="calendar__date">
        <span *ngIf="!checkInDate">
          Choose a date
        </span>
        <div *ngIf="checkInDate">
          <span>
            {{ checkInDate?.month }}
          </span>
          <span>
            <strong> {{ checkInDate?.day }},</strong>
          </span>
          <span>
            {{ checkInDate?.year }}
          </span>
        </div>
      </div>
    </div>
    <div class="check-out">
      <div class="calendar__label">
        check out
      </div>
      <div class="calendar__date">
        <span *ngIf="!checkOutDate">
          Choose a date
        </span>
        <div *ngIf="checkOutDate">
          <span>
            {{ checkOutDate?.month }}
          </span>
          <span>
            <strong> {{ checkOutDate?.day }},</strong>
          </span>
          <span>
            {{ checkOutDate?.year }}
          </span>
        </div>
      </div>
    </div>
    <button  class="calendar__search-btn" (click)="searchForHotels($event,this)">
      Search hotels
    </button>
  </div>
  <div class="calendar__widget">
    <div>
      <div class="calendar__label--month-year">
        <span>{{ currentMonth }}</span> <i>/</i> <span>{{ currentYear }}</span>
      </div>
      <div class="calendar__label--weeks">
        <span>s</span>
        <span>m</span>
        <span>t</span>
        <span>w</span>
        <span>t</span>
        <span>f</span>
        <span>s</span>
      </div>
      
      <div class="calendar__week">
        <div class="day"></div>
        <div class="day"></div>
        <div class="day"></div>
        <div class="day"></div>
        <day #day_1 (click)="selectDay(day_1)" [config]='[8,1,2017]'></day>
        <day #day_2 (click)="selectDay(day_2)" [config]='[8,2,2017]'></day>
        <day #day_3 (click)="selectDay(day_3)" [config]='[8,3,2017]'></day>
      </div>
      <div class="calendar__week">
        <day #day_4 (click)="selectDay(day_4)" [config]='[8,4,2017]'></day>
        <day #day_5 (click)="selectDay(day_5)" [config]='[8,5,2017]'></day>
        <day #day_6 (click)="selectDay(day_6)" [config]='[8,6,2017]'></day>
        <day #day_7 (click)="selectDay(day_7)" [config]='[8,7,2017]'></day>
        <day #day_8 (click)="selectDay(day_8)" [config]='[8,8,2017]'></day>
        <day #day_9 (click)="selectDay(day_9)" [config]='[8,9,2017]'></day>
        <day #day_10 (click)="selectDay(day_10)" [config]='[8,10,2017]'></day>
      </div>
      <div class="calendar__week">
        <day #day_11 (click)="selectDay(day_11)" [config]='[8,11,2017]'></day>
        <day #day_12 (click)="selectDay(day_12)" [config]='[8,12,2017]'></day>
        <day #day_13 (click)="selectDay(day_13)" [config]='[8,13,2017]'></day>
        <day #day_14 (click)="selectDay(day_14)" [config]='[8,14,2017]'></day>
        <day #day_15 (click)="selectDay(day_15)" [config]='[8,15,2017]'></day>
        <day #day_16 (click)="selectDay(day_16)" [config]='[8,16,2017]'></day>
        <day #day_17 (click)="selectDay(day_17)" [config]='[8,17,2017]'></day>
      </div>
      <div class="calendar__week">
        <day #day_18 (click)="selectDay(day_18)" [config]='[8,18,2017]'></day>
        <day #day_19 (click)="selectDay(day_19)" [config]='[8,19,2017]'></day>
        <day #day_20 (click)="selectDay(day_20)" [config]='[8,20,2017]'></day>
        <day #day_21 (click)="selectDay(day_21)" [config]='[8,21,2017]'></day>
        <day #day_22 (click)="selectDay(day_22)" [config]='[8,22,2017]'></day>
        <day #day_23 (click)="selectDay(day_23)" [config]='[8,23,2017]'></day>
        <day #day_24 (click)="selectDay(day_24)" [config]='[8,24,2017]'></day>
      </div>
      <div class="calendar__week">
        <day #day_25 (click)="selectDay(day_25)" [config]='[8,25,2017]'></day>
        <day #day_26 (click)="selectDay(day_26)" [config]='[8,26,2017]'></day>
        <day #day_27 (click)="selectDay(day_27)" [config]='[8,27,2017]'></day>
        <day #day_28 (click)="selectDay(day_28)" [config]='[8,28,2017]'></day>
        <day #day_29 (click)="selectDay(day_29)" [config]='[8,29,2017]'></day>
        <day #day_30 (click)="selectDay(day_30)" [config]='[8,30,2017]'></day>
        <day #day_31 (click)="selectDay(day_31)" [config]='[8,31,2017]'></day>
      </div>
    </div>
  </div>
</div>  

