@import '~app/smacss/base/mixins';


.title {
  margin-bottom: 20px;

  @include montSerratFont();
  text-align: center;
  @include defaultLetterSpacing();
  line-height: 25px;
}

.calendar-info {
  &__search-btn {
    border: 1px solid #F98100;
    border-radius: 30px;
    background-color: #fff;
    padding: 15px 45px;
    margin-bottom: 25px;
    
    color: #F98100;
    @include heeboFont();
    font-weight: bold;
    
    cursor: pointer;
    will-change: color,background-color;
    transition: color 0.3s,
                background-color 0.5s;

    &:hover,
    &:active {
      background-color: #F98100;

      color: #fff;
    }

    @include breakpoint(min,"1440px") {

    }
  }

  &__label {
    margin-bottom: 10px;

    @include heeboFont();
    text-transform: uppercase;
    color: #555555;
    letter-spacing: 2.5px;
  }

  &__date {
    margin-bottom: 20px;

    @include heeboFont();
    color: #B5B5B5;
    letter-spacing: 1.82px;
  }
}

.calendar-widget {
  margin-bottom: 20px;
}

/*
*  INNER ELEMENTS
*/
:host ::ng-deep {
  .mydrp .selector{
    margin: 0 auto;
  }
}
