@import '~app/smacss/base/mixins';


.title {
  text-align: center;
}

.calendar-info {
  &__search-btn {
    border: 1px solid #F98100;
    border-radius: 20px;
    background-color: #fff;
    padding: 10px 30px;
    
    color: #F98100;
    
    cursor: pointer;
    will-change: color,background-color;
    transition: color 0.3s,
                background-color 0.5s;

    &:hover,
    &:active {
      background-color: #F98100;

      color: #fff;
    }

    @include breakpoint(min,"1440px") {
      padding: 20px 50px;
      border-radius: 50px;
    }
  }
}