@import '~app/smacss/base/mixins';


.calendar {

  @include breakpoint(min,"1440px") {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__title {
    margin-bottom: 20px;
  
    text-align: center;
    line-height: 25px;
    @include montSerratFont();
    @include defaultLetterSpacing();
    
    @include breakpoint(min,"1440px") {
      width: 100%;
      margin-bottom: 72px;
  
      font-size: 22px;
    }
  }

  &__dates {
  
    @include breakpoint(min,"1440px") {
      margin: 0 auto;

      text-align: left;
    }
  }

  &__search-btn {
    border: 1px solid #F98100;
    border-radius: 30px;
    background-color: #fff;
    padding: 12px 45px;
    margin-bottom: 25px;
    
    color: #F98100;
    @include heeboFont();
    font-weight: bold;
    
    cursor: pointer;
    will-change: color,background-color;
    transition: color 0.3s,
                background-color 0.5s;

    &:hover,
    &:active {
      background-color: #F98100;

      color: #fff;
    }

    @include breakpoint(min,"1440px") {
      font-size: 15px;
    }
  }

  &__label {
    margin-bottom: 10px;

    @include heeboFont();
    text-transform: uppercase;
    color: #555555;
    letter-spacing: 2.5px;

    @include breakpoint(min,"1440px") {
      font-size: 22px;
    }

    &--month-year {
      padding: 15px 0;
      border-top: 1px solid #E3E3E3;
      
      @include heeboFont();
      font-size: 15.8px;
      letter-spacing: 1.8px;
      color: #555555;
    }
    &--weeks{
      display: flex;
      justify-content: space-evenly;
      padding: 15px 0;
      border-bottom: 1px solid #E3E3E3;

      @include heeboFont();
      font-size: 15px;
      text-transform: uppercase; 
      color: #B5B5B5;
    }
  }

  &__date {
    margin-bottom: 20px;

    @include heeboFont();
    color: #B5B5B5;
    letter-spacing: 1.82px;

    @include breakpoint(min,"1440px") {
      font-size: 16px;

      letter-spacing: 1.36px;
    }
  }

  &__widget {
    max-width: 250px;
    height: 320px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  &__week {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
  }

  day, .day {
    width: 40px;
    height: 40px;
    
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    @include heeboFont();
    font-size: 15px;
  }
}



/*
*  INNER ELEMENTS
*/
:host ::ng-deep {
  .mydrp .selector{
    margin: 0 auto;
  }
}
