<div class="calendar">
  <p class="title">
    Select the days to stays in Charlotte
  </p>
  <div class="calendar-info">
    <div class="check-in">
      <div class="calendar-info__label">
        check in
      </div>
      <div class="calendar-info__date">
        {{ checkInDate || 'Choose a date' }}
      </div>
    </div>
    <div class="check-out">
      <div class="calendar-info__label">
        check out
      </div>
      <div class="calendar-info__date">
      {{ checkOutDate || 'Choose a date' }}
      </div>
    </div>
    <button  class="calendar-info__search-btn" (click)="searchForHotels($event,this)">
      Search hotels
    </button>
  </div>
  <div class="calendar-widget">
    <form #myForm="ngForm" novalidate>
        <my-date-range-picker name="mydaterange" 
          [options]="myDateRangePickerOptions"
          required
          (dateRangeChanged)="onDateRangeChanged($event)"></my-date-range-picker>
      </form>
  </div>
</div>  
