  //CLEARFIX
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin defaultLetterSpacing {
  letter-spacing: 2.5px;
}

@mixin heeboFont {
  font-family: 'Heebo', sans-serif;
}

@mixin montSerratFont {
  font-family: 'Montserrat', sans-serif;
}


//TRANSFORMS
@mixin transform($type) {
  -webkit-transform: $type;
  -ms-transform: $type;
  transform: $type;
}

// TRANSITIONS
@function customTrans($propName, $time: .3s, $effect: ease-in-out){
  @return $propName $time $effect;
}

//OPACITY
//VALUES FOR $opacity: ALWAYS USE 0-100
// e.g   @include opacity(40)  -- THIS IS THE SAME AS : opacity(.4) OR opacity(0.4) OR opacity(0.40)
@mixin opacity($opacity) {
  filter : alpha(#{$opacity});  // IE OLD VERSIONS
  opacity: $opacity * 0.01;
}

//BREAKPOINTS

@mixin breakpoint($minOrMax, $width , $media: "screen"){
    //REMOVE ONE PIXEL IF A "max" UNIT IS DESIRED
    @if $minOrMax == max { $width : $width - 1; }

    @media #{$media} AND (#{$minOrMax}-width : $width) {
        @content;
    }
}

