:host ::ng-deep .icon--star {
  svg {
    height: 22px;
    width: 22px;
  }

  &-full {
    .cls-1{
      fill:#ffba23;
      fill-rule:evenodd;
    }
  }
  &-empty {
    .cls-1{
      fill:none;
      stroke:#ffba23;
      fill-rule:evenodd;
    }
  }
}


.search-wrapper {
  padding-top: 520px;
}

.filter-area {
  padding: 20px 50px;
}