@import '~app/smacss/base/mixins';

input[type='checkbox'] {
  display: none;
//   appearance: none;
//   display: inline-block;
//   width: 19px;
//   height: 19px;
//   border: 1px solid #F98100;
}

// input[type='checkbox']:checked {
//   box-shadow: inset 0px 0px 0px 5px #fff;
//   background-color: #F98100;
// }


.search-wrapper {
  padding-top: 560px;

  @include breakpoint(min,1024px) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 470px;;
  }

  @include breakpoint(min,1440px) {
    padding-top: 415px;
  }
}

.search-period {
  @include montSerratFont();
  @include defaultLetterSpacing();
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;

  @include breakpoint(min,1024px) {
    width: 50%;
    padding: 35px 90px 0;
    border-top: 1px solid #D8D8D8;
  }

  @include breakpoint(min,1440px) {
    width: 100%;
    border-top: none;
    padding: 40px 0;
  }

  &__date {
    display: block;

    color: #B5B5B5;

    @include breakpoint(min,1440px) {
      display: inline-block;
    }
  }
}

.filters {
  width: 300px;
  margin: 0 auto;
  padding: 20px;

  @include breakpoint(min,1024px) {
    width: 50%;
    padding: 35px 90px 0;
    border-top: 1px solid #D8D8D8;
  }
  
  @include breakpoint(min,1440px) {
    width: 30%;   
    margin: 0 70px 0 0;
    border-top: none;
    border-bottom: 1px solid #D8D8D8;
  }

  &__title {
    margin-bottom: 20px;
    
    @include montSerratFont();
    @include defaultLetterSpacing();
    font-size: 30px;
    font-weight: 500;

    @include breakpoint(min,1440px) {
      margin-bottom: 50px;
    }
  }
  
  &__price {
    padding-bottom: 60px;

    @include breakpoint(min,1440px) {
      height: 120px;
      padding-bottom: 0;
      margin-bottom: 40px;
    }
  }
  &__price-title,
  &__rate-title {
    @include heeboFont();
    color: #B5B5B5;
    margin-bottom: 15px;
  }
}

.result-area {
  padding: 10px;
  
  text-align: center;

  @include breakpoint(min,1024px) {
    width: 100%;
  }

  @include breakpoint(min,1440px) {
    width: 60%;
  }
}

.card-wrapper {
  
  @include breakpoint(min,1024px) {
    padding-top: 50px;
  }
}


/** VENDORS AND INNER ELEMENT/NG-CONTENT*/
:host ::ng-deep {
  nouislider {
    width: 235px;

    * { @include heeboFont(); }

    @include breakpoint(min,1440px) {
      padding-left: 10px;
    }
  }

  .noUi-connect { 
    background:  #F98100;
    height: 5px;
    top: 5px;
  }
  .noUi-target {
    border: none;
    box-shadow: none;
    background: transparent;
  }

  .noUi-horizontal .noUi-tooltip {
    @include heeboFont();
    bottom: -70px;
    border: none;
    left: 7px;
    
    color: #f9810078;
    font-weight: 900;
  }
  
  .noUi-handle {
    border: 2px solid #F98100;
    border-radius: 50%;
    width: 22.51px;
    height: 22.51px;
    right: -13px !important;

    &:after,
    &:before { background: none; }
  }

  .noUi-handle.noUi-handle-upper {
    &:after { 
      position: absolute;
      content: 'Max';
      left: -10px;
      top: 40px;
      
      color: #B5B5B5;
    }
    .noUi-tooltip {
      &:after {
        position: absolute;
        left: -7px;
        content: '$';
      }
    }
  }
  .noUi-handle.noUi-handle-lower {
    &:after { 
      content: 'Min';
      left: 0;
      top: 40px;
      
      color: #B5B5B5;
    }
    .noUi-tooltip {
      left: 16px;
      padding-left: 18px;

      &:after {
        position: absolute;
        left: 10px;
        content: '$';
      }
    }
  }
}

:host ::ng-deep .icon--star {
  svg {
    height: 22px;
    width: 22px;
  }

  &-full {
    .cls-1{
      fill:#ffba23;
      fill-rule:evenodd;
    }
  }
  &-empty {
    .cls-1{
      fill:none;
      stroke:#ffba23;
      fill-rule:evenodd;
    }
  }
}